{
  //"version": "1.0.0",
  //"name": "asp.net",
  //"private": true,
  //"devDependencies": {
  //},
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ]
}