**/.vs
*.sql
**/bin
**/obj


**/DAL
**/EF_RefOnly


Shareable.cs
Paragraph.cs
SmallImage.cs
IEntity.cs
IRepository.cs
RepositoryEF.cs
UserController.cs
Startup.cs
**/Shareable
ShareableController
shareable.css
ActiveUserScriptlet.cshtml
**/File
favicon.ico

**/wwwroot/images