<template id="template_shareable_item">

    <!--Encapsulated styles and scripts-->
    <link href="~/css/User/profile.css"/>


    <div class="shareable-card shareable-card--small">
        <div class="s-image-wrapper">
            <img id="thumbnail" class="s-image"/>
        </div>
        <div>
            <p id="pTitle" class="s-title">Title</p>
            <p id="pIntroduction" class="s-intro">Introduction</p>
        </div>
    </div>

</template>
