<template id="template_shareable_item">

    <!--Encapsulated styles and scripts-->
    <link href="~/css/general.css"/>
    <link href="~/css/materialize.min.css" />
    <script src="~/js/materialize.min.js"></script>

    <div>

        <p id="pImage">*Insert Image Here*</p>
        <p id="pTitle">Title</p>
        <p id="pIntroduction">Introduction</p>
        
    </div>

</template>
