@{
    ViewData["Title"] = "About";
}

<div class="about-wrapper">
    <div class="about-container">


        <h3>ASP.NET Core 3.0, ... and that's it!</h3>
        <div class="about-list">
            <ul>
                <li>- Own persistence mechanism through dynamic generic queries</li>
                <li>- just JavaScript</li>
            </ul>
        </div>



        @*<p>and a little bit of Materialize classes</p>*@
    </div>
</div>
