@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nameUser = ViewBag.NameUser; 
}

<div class="welcome-message">
    @if (nameUser != default(string))
    {
        <h2>Hello, @nameUser!</h2>
    }
</div>

<script>

    //displayActiveUser();
    /*
    async function displayActiveUser() {
        console.log("retrieved user: ", activeUser);
        var txtName = document.getElementById("txtName");
        txtName.textContent = activeUser.name;
        console.log("txtName text: " + txtName.textContent);
    }
    */
    //console.log("From index");
</script>
