@using ASPracticeCore.Utils; 
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Index";
    string accOwnerName = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c=>c.Type == Constants.STRING_GIVEN_NAME)?.Value??null;
}

<div class="content-container">
    @if (accOwnerName != null)
    {
        <h1>Hello, @accOwnerName!</h1>
    }
</div>
<script>

    //displayActiveUser();
    /*
    async function displayActiveUser() {
        console.log("retrieved user: ", activeUser);
        var txtName = document.getElementById("txtName");
        txtName.textContent = activeUser.name;
        console.log("txtName text: " + txtName.textContent);
    }
    */
    //console.log("From index");
</script>
