@{
    dynamic status = ViewBag.status??"";
}
<script type="text/javascript">
    //console.log("is Status an empty string?", @status);
    //simple instead of intricate approach in the React-Redux system just for status messages.
    //window.localStorage.setItem("shareable_status", JSON.stringify(@status)); //accessed by the React components
</script>
<div id="react_root">
    <!--Everything happens in React now -->
</div>

<script src="~/clientapp/dist/attachShareableModule.js"></script>
