
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<!--flexbox horizontal containing 2 divs who're flexbox vertical as well-->


<div id="div_page_content" class="profile">

    <div id="div_user_info" class="profile__user-info">
        <img id="img_profile_pic" alt="profile picture" />
        <p id="p_name"></p>
    </div>
    <div id="div_shareables" class="profile__shareables">
        <h2>Posts</h2>
        <div id="shareable_items">

        </div>
        <!--insert shareable preview custom element right here-->
        <button id="createShareable" class="btn" onclick="createShareable()">Add Shareable</button>
    </div>

</div>

@{await Html.RenderPartialAsync("~/Views/WebComponents/ShareableItemTemplate.cshtml");}

<script src="~/../Views/WebComponents/shareable-card.js"></script>
<script type="text/javascript">

    var shareable_items = document.getElementById("shareable_items");
    shareable_items.onload = displayInformation();

    async function displayInformation() {
        let urlParams = new URLSearchParams(location.search);
        let userId = urlParams.get("userId");
        //console.log("Logged in user id: " + userId);
        var url = "/Accounts/User/GetUserShareables/?id=" + userId; //or activeUser.id from shared layout's JS
        var shareables = await getResource(url);

        shareables.each((index, item) => {

            //container div to give in-between margin to items.
            var container = document.createElement("div");

            //last item will have no margin
            if (index != (shareables.length - 1)) {
                container.setAttribute("style", "margin-bottom:15px;");
            }
            

            var shareableCard = document.createElement("shareable-card");
            var p_intro = shareableCard.getElementById("pIntroduction");
            var p_title = shareableCard.getElementById("pTitle");

            p_title.textContent = item.title;
            p_intro.textContent = item.introduction;

            console.log("shareable was created on " + item.datetimestamp);
            container.appendChild(shareableCard);
            shareable_items.appendChild(container);
        });

    }

    function createShareable() {
        //shareable creator page
    }

</script>