@using Microsoft.AspNetCore.Http
@using ASPracticeCore.Utils;
@using ASPracticeCore.Areas.Accounts.Models;
@using ASPracticeCore.Repositories;
@using System.Security.Claims;
@inject IHttpContextAccessor HttpContextAccessor

@{
    bool isAuthenticated = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
    string givenName = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == Constants.STRING_GIVEN_NAME)?.Value ?? null;
}

<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />

</head>
<body>

    <nav>
        <a class="logo" href="/Home/Index">ItemInventoryTemplate</a>
        <div class="nav__menu">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Home/About">About</a></li>
                @if (isAuthenticated)
                {
                    <li class="dropdown">
                        Hello, @givenName
                        <div class="dropdown-container">
                            <div class="dropdown-triangle">

                            </div>
                            <ul class="dropdown-list">
                                <li><a href='#'>Manage Profile</a></li>
                                @* <li><a href='@Url.Action("UserShareables", "Shareable")'>My Shareables</a></li> *@
                                <li><a href="/Shareable/UserShareables">My Shareables</a></li>
                                <li><a href='@Url.Action("Logout", "Access", new { Area="Accounts"})'>Logout</a></li>
                            </ul>
                        </div>


                    </li>
                }
                else
                {
                    <li id="login"><a href="/Accounts/Access/Login">Login</a></li>
                }

            </ul>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <script src="~/js/site.js"></script>

    <div>
        @RenderBody()
    </div>

    <footer>

        Template Web App - Lourd Andre B. Ammuyutan.
       
    </footer>


</body>
</html>
