@using Microsoft.AspNetCore.Http
@using ASPracticeCore.Utils;
@using ASPracticeCore.Areas.Accounts.Models;
@using ASPracticeCore.Repositories;
@inject IHttpContextAccessor HttpContextAccessor

@{
    int activeUserId = HttpContextAccessor.HttpContext.Session.Get<int>(Constants.KEY_USERID);
    bool isAuthenticated = (activeUserId != default(int));
    //UserAccount user = isAuthenticated ? new RepositoryReflection().GetFiltered<UserAccount>(new { activeUserId })[0] : null;
    UserAccount user = null;
    if (isAuthenticated)
    {
        user = new RepositoryReflection().GetFiltered<UserAccount>(new { id=activeUserId })[0];
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["title"]</title>
    @*<link href="~/css/materialize.css" rel="stylesheet" />
            <script src="~/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">*@
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />

</head>
<body>

    <nav class="nav">
        

        <a  class="logo" href="/Home/Index">ItemInventoryTemplate</a>
        <div class="nav__menu">
            <ul class="nav__ul">
                <li class="nav-item"><a class="nav__a" href="/Home/Index">Home</a></li>
                <li class="nav-item"><a class="nav__a" href="/Home/About">About</a></li>
                @if (isAuthenticated)
                {
                    @*<li class="nav__li" id="manage_profile">
                        <div class="nav__dropdown">
                            <button class="dropdown-btn"></button>
                            <a class="nav__a">Hi @user.Name</a>
                        </div>
                    </li>*@
                    <li class="nav-item nav-item--rightmost"><a class="nav__a" href="/Accounts/Access/Logout">Logout</a></li>
                }
                else
                {
                    <li class="nav-item nav-item--rightmost" id="login"><a class="nav__a" href="/Accounts/Access/Login">Login</a></li>
                }

            </ul>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />

    <script src="~/js/site.js"></script>

    <div class="content-container">
        @RenderBody()
    </div>

    <footer>
        Template Web App - Lourd Andre B. Ammuyutan
    </footer>


</body>
</html>
